<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smartnursing.mapper.FileInfoMapper">

    <resultMap id="BaseResultMap" type="com.smartnursing.entity.FileInfo">
            <id property="id" column="id" />
            <result property="fileName" column="file_name" />
            <result property="fileOriginalName" column="file_original_name" />
            <result property="fileSuffix" column="file_suffix" />
            <result property="fileSize" column="file_size" />
            <result property="fileUrl" column="file_url" />
            <result property="bucket" column="bucket" />
            <result property="fileType" column="file_type" />
            <result property="uploadUserId" column="upload_user_id" />
            <result property="uploadTime" column="upload_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,file_name,file_original_name,file_suffix,file_size,file_url,
        bucket,file_type,upload_user_id,upload_time
    </sql>
</mapper>
